{% extends "Base.html.twig" %}

{% block title %} Calendar events {% endblock %}

{% block content %}
  <h2>Create a new event</h2>
  <a href="" class="pure-button pure-button-primary">Work event</a>
  <a href="../src/Controller/NewDentistEvent.php" class="pure-button pure-button-primary">Dentist event</a>
  <h2>Event categories</h2>
  <h2>Existing events</h2>
{% endblock %}
