{% extends "Base.html.twig" %}

{% block title %} New Event {% endblock %}

{% block scripts %}
<script>
$(function() {
  $(".datepicker").datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat: 'mm/dd/yy',
    beforeShow: function (input, inst) {
        var rect = input.getBoundingClientRect();
        setTimeout(function () {
	        inst.dpDiv.css({ top: rect.top - 150, left: rect.left + 240 });
        }, 0);
    }
  });
});
</script>
{% endblock %}

{% block content %}
  <h2>Add a new work related event</h2>
  <form class="pure-form pure-form-stacked">
    <fieldset>
      <legend>New Event</legend>

      <label for="title">Title</label>
      <input id="title" type="text" placeholder="Title of the event">

      <label for="all_day" class="pure-checkbox">
          <input id="all_day" type="checkbox"> All day event
      </label>

      <label for="start_date">Start date</label>
      <input class="datepicker" id="start_date" type="text" placeholder="Starting date">

      <label for="end_date">End date</label>
      <input class="datepicker" id="end_date" type="text" placeholder="End date">

      <label for="location">Location</label>
      <input id="location" type="text" placeholder="Location">

      <label for="description">Description</label>
      <textarea id="description" class="pure-input-1-2" placeholder="Event description"></textarea>

      <button type="submit" class="pure-button pure-button-primary">Save</button>
  </fieldset>
</form>
{% endblock %}
